CARD/*
CARD-prevalence/*
card-data/*
scripts/*_within*diffs*txt
scripts/*/*
scripts/.Rhistory
scripts/*fa
scripts/*aln
scripts/*txt
metadata/
data/card-genomes.txt
data/index-for-model-sequences.txt
nucleotide_fasta_protein_homolog_model.fasta
old/
data/
data-processing/*csv
data-processing/*pdf
data-processing/*png
.DS_Store
