CARD/*
CARD-prevalence/*
card-data/*
scripts/*_within*diffs*txt
scripts/.Rhistory
scripts/*fa
scripts/*aln
scripts/*txt
metadata/
data/card-genomes.txt
data/index-for-model-sequences.txt
nucleotide_fasta_protein_homolog_model.fasta
output/
old/
data-processing/*csv
data-processing/*pdf
data-processing/*png
data-processing/*txt
test/
.DS_Store
scripts/pipeline/.snakemake/*
